/* Setting Colors */
$teal: #68cbdf;
$gold: #ffdd79;
$gold-dark: #d1ad36;
$light-gray: #f9f9f9;

/* Sizes */
$left-nav-width: 130px;

body,
h1, h2, h3, h4, h5, h6,
a,
ul, li {
  margin: 0;
  padding: 0;
}

h1 {
  color: $gold-dark;
  font: normal 70px league-gothic, "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
}

a,
li {
  list-style: none;
  text-decoration: none;
}

.left-bar-nav,
.content {
  float: left;
  height: 100%;
  padding: 20px;
}

.left-bar-nav {
  width: $left-nav-width;
}

.left-bar-nav-item {
  width: 100%;
  height: $left-nav-width;
  text-align: center;
  position: relative;

  a {
    padding: 4%;
    width: 92%;
    height: 92%;
    display: block;
    color: $light-gray;
    font: normal 25px league-gothic, "Helvetica", "Arial", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
}

#discover-nav-item {
  background: $gold;
}

#start-nav-item {
  background: $teal;
}

.content {
  position: relative;
  background: $gold;
  header {
    text-align: center;
    margin-bottom: 20px;
  }
}
.projects {
  overflow: hidden;
  margin: 0 auto;
  &:hover {
    .project {
      opacity: 0.7;
      transition: opacity 0.5s ease-in;
      &:hover {
        opacity: 1.0;
        transition: opacity 0.5s ease-in;
        box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.3);
      }
    }
  }
}

.project {
  position: relative;
  background: url("../img/dog.png");
  background-size: auto 100%;
  float: left;
  width: 265px;
  height: 200px;
  margin-bottom: 20px;
  margin-right: 20px;
  a {
    width: 100%;
    height: 100%;
    display: block;
  }
}

.project-info {
  position: absolute;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  padding: 10px;
  color: white;
  h2 {
    font: normal 30px league-gothic, "Helvetica", "Arial", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
  h3 {
    font: 400 12px "Open Sans", "Helvetica", "Arial", sans-serif;
  }
  h4 {
    text-align: right;
    font: 400 10px "Open Sans", "Helvetica", "Arial", sans-serif;
  }
}
























