<html>
	<head>
		<title>LuxWalk</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		
		<!-- Link to stylesheets -->
		<link rel=stylesheet media=screen type=text/css href="{{ url_for('static', filename='css/style.css') }}" >
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link to fonts  -->
    <script src="//use.edgefonts.net/league-gothic.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet" />
	</head>

  <body>
    {% if active != "home" %}
    <nav class="left-bar-nav">
      <ul>
        {% if logged_in %}
        <li class="left-bar-nav-item" style="float:bottom; height:30px"><a style="color:#68cbdf"href="{{url_for('logout')}}">Logout</a></li>
        {% else %}
        <li class="left-bar-nav-item" style="float:bottom; height:30px"><a style="color:#68cbdf"href="{{url_for('login')}}">Login</a></li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}
    
  	{% block content %}
      <!-- Put content of the page here -->
    {% endblock %}

    <!-- Scripts  -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"> </script>
    <script>
      $(document).on('ready', function(){
        change_content_size();
        change_projects_size();
      });

      $(window).on('resize', function(){
        change_content_size();
        change_projects_size();
      })

      function change_content_size() {
        var content_width = $(window).width() - 210;
        $('.content').css('width', content_width);
      }

      function change_projects_size() {
        var content_width = $('.content').width(),projects_width = 285;
        if (content_width > (285 * 4)) {
          projects_width = 285 * 4;
        } else if (content_width > (285 * 3)) {
          projects_width = 285 * 3;
        } else if (content_width > (285 * 2)) {
          projects_width = 285 * 2;
        }
        $('.projects').css('width', projects_width);
      }
    </script>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
{% endwith %}
  </body>

</html>