{% extends "base.html" %}


{% block content %}
<div class="content">
{% from "_formhelpers.html" import render_field %}
<form method=post action="">
  <dl>
    {{ render_field(form.name) }}
    {{ render_field(form.about) }}
    {{ render_field(form.help) }}
    {{ render_field(form.description) }}
    {{ render_field(form.progress) }}
  </dl>
  <p><input type=submit value=Register>
</form>

<hr>
Or just delete your project:
	<form method=post action="">
		<p><input name='remove' type=submit value=Delete>
	</form>
</div>
{% endblock %}