{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
{% endwith %}


{% if not logged_in %}
    {% from "_formhelpers.html" import render_field %}
    <form method=post action="/login/">
      <dl>
        {{ render_field(form.email) }}
        {{ render_field(form.password) }}
      </dl>
      <p><input type=submit value=Login>
    </form>
{% else %}

You are already logged in dumbass

{% endif %}

{% endblock %}